# Please add your key location here
# such as, /home/ubuntu/xxxx.josn
API_KEY_PATH=<Your own api key location>

# language config. Reference: https://cloud.google.com/text-to-speech/docs/voices
# such as, remove the following # if you want to communicate using Japanese
#LANGUAGE_CODE=ja-JP
#LANGUAGE_NAME=ja-JP-Neural2-B
